<div class="row mt-4">
  <p-table
    [value]="pendingTasks"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10]"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title">
          Title<p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Description<p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="hasPriority" style="width: 115px">
          Priority<p-sortIcon field="hasPriority"></p-sortIcon>
        </th>
        <th style="width: 210px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pendingTask>
      <tr>
        <td>{{ pendingTask.title }}</td>
        <td class="w-50">{{ pendingTask.description }}</td>
        <td [ngClass]="{ 'text-danger': pendingTask.hasPriority }">
          {{ pendingTask.hasPriority ? "Urgent" : "Normal" }}
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <p-button
              icon="pi pi-pencil"
              styleClass="p-button-rounded"
              (click)="callShowTaskModal(pendingTask)"
            ></p-button>
            <p-button
              styleClass="p-button-rounded p-button-success"
              icon="pi pi-check"
              class="mx-3"
              (click)="callOnDone(pendingTask)"
            ></p-button>
            <p-button
              icon="pi pi-times"
              styleClass="p-button-rounded p-button-danger"
              (click)="callOnRemove(pendingTask)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>