<div class="container">
  <div class="d-flex">
    <h1 class="mt-4">Pending Tasks</h1>

    <p-button
      class="mt-4 mx-3"
      styleClass="p-button-rounded"
      icon="pi pi-plus"
      (click)="showTaskModal(null)"
    ></p-button>

    <p-button
      label="{{ isShownAsCard ? 'Cards to Table' : 'Table to Cards' }}"
      class="mt-4 mx-3"
      styleClass="p-button-rounded"
      (click)="setIsShownAsCard()"
      icon="pi pi-arrow-right-arrow-left"
    ></p-button>
  </div>

  <app-task-managment-cards-pending
    *ngIf="isShownAsCard"
    [pendingTasks]="pendingTasks"
    [finishedTasks]="finishedTasks"
    [showTaskModal]="showTaskModal"
    [onDone]="onDone"
    [onRemove]="onRemove"
  ></app-task-managment-cards-pending>

  <app-task-managment-table-pending
    *ngIf="!isShownAsCard"
    [pendingTasks]="pendingTasks"
    [finishedTasks]="finishedTasks"
    [showTaskModal]="showTaskModal"
    [onDone]="onDone"
    [onRemove]="onRemove"
  ></app-task-managment-table-pending>

  <h1 *ngIf="hasFinishedTasks" class="mt-4">Finished Tasks</h1>

  <app-task-managment-cards-finished
    *ngIf="isShownAsCard"
    [pendingTasks]="pendingTasks"
    [finishedTasks]="finishedTasks"
    [showTaskModal]="showTaskModal"
  ></app-task-managment-cards-finished>

  <app-task-managment-table-finished
    *ngIf="!isShownAsCard"
    [pendingTasks]="pendingTasks"
    [finishedTasks]="finishedTasks"
    [showTaskModal]="showTaskModal"
  ></app-task-managment-table-finished>

  <h1 *ngIf="hasExpiredTasks" class="mt-4">Expired Tasks</h1>
  <div class="row">
    <p-card
      *ngFor="let expiredTask of expiredTasks"
      header="{{ expiredTask.title }}"
      class="col-lg-4 col-md-6 my-4"
      styleClass="bg-light"
    >
      <ng-template pTemplate="subtitle">
        <h6 [ngClass]="{ 'text-danger': expiredTask.hasPriority }">
          {{
            expiredTask.hasPriority ? "Priority: Urgent" : "Priority: Normal"
          }}
        </h6>
      </ng-template>
      <p>
        {{ expiredTask.description }}
      </p>
      <ng-template pTemplate="footer">
        <p-button
          label="Restore"
          styleClass="p-button-rounded"
          icon="pi pi-refresh"
          (click)="onRestore(expiredTask)"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <div class="m-auto">
    <p-confirmPopup class="m-auto"></p-confirmPopup>
  </div>
  <p-toast position="bottom-center"></p-toast>
</div>
