<div class="container">
  <div class="d-flex">
    <h1 class="mt-4">Pending Tasks</h1>

    <p-button
      class="mt-4 mx-3"
      styleClass="p-button-rounded"
      icon="pi pi-plus"
      (click) = "showTaskModal(null)"
    ></p-button>
  </div>
  <div class="row">
    <p-card
      *ngFor="let pendingTask of pendingTasks"
      header={{pendingTask.title}}
      subheader="Expire in 10h"
      class="col-4 my-4"
    >
      <p>
        {{ pendingTask.description }}
      </p>
      <ng-template pTemplate="footer">
        <div class="d-flex justify-content-around">
          <p-button
            label="Edit"
            icon="pi pi-pencil"
            styleClass="p-button-rounded"
            (click)="showTaskModal(pendingTask)"
          ></p-button>
          <p-button
            label="Done"
            styleClass="p-button-rounded p-button-success"
            icon="pi pi-check"
            (click)="onDone(pendingTask)"
          ></p-button>
          <p-button
            label="Delete"
            icon="pi pi-times"
            styleClass="p-button-rounded p-button-danger"
            (click)="onRemove(pendingTask)"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <h1 class="mt-4">Finished Tasks</h1>
  <div class="row">
    <p-card
      *ngFor="let finishedTask of finishedTasks"
      header={{finishedTask.title}}
      subheader="Expire in 10h"
      class="col-4 my-4"
    >
      <p>
        {{finishedTask.description}}
      </p>
      <ng-template pTemplate="footer">
        <p-button
          label="Clone"
          styleClass="p-button-rounded"
          icon="pi pi-clone"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <h1 class="mt-4">Expired Tasks</h1>
  <div class="row">
    <p-card
      *ngFor="let expiredTask of expiredTasks"
      header={{expiredTask.title}}
      subheader="Expire in 10h"
      class="col-4 my-4"
    >
      <p>
        {{expiredTask.description}}
      </p>
      <ng-template pTemplate="footer">
        <p-button
          label="Restore"
          styleClass="p-button-rounded"
          icon="pi pi-refresh"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
