<div class="p-dialog-content">
  <form [formGroup]="taskForm">
    <div class="m-3">
      <label for="title"><strong>Title:</strong></label>
      <input
      pInputText
      formControlName="title"
      id="title"
      type="text"
      class="form-control"
      />
      
      <div *ngIf="title?.touched && title?.invalid" class="alert alert-danger">
        <div *ngIf="title?.errors?.['required']">Title is Required!!!</div>
      </div>
    </div>
    
    <div class="m-3">
      <label for="description"><strong>Description:</strong></label><br />
      <textarea
      rows="5"
      cols="30"
      pInputTextarea
      formControlName="description"
      ></textarea>
      <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
        <div *ngIf="description?.errors?.['required']">Description is Required!!!</div>
      </div>
    </div>

    <div class="m-3 d-flex justify-content-around">
      <label for="hasPriority"><strong>Has Priority???</strong></label><br />
      <p-inputSwitch formControlName="hasPriority"></p-inputSwitch>
    </div>

  </form>
</div>

<div class="p-dialog-footer d-flex justify-content-around">
  <p-button
    label= "{{task?'Update':'Create'}}"
    styleClass="p-button-rounded p-button-success"
    (click)= "saveTask()"
    [disabled] = "!taskForm.valid"
    title="{{!taskForm.valid? 'Title and Description are Required Fields':'Create Task'}}"
  ></p-button>
  <p-button label="Cancel" styleClass="p-button-rounded" (click) = "close()"></p-button>
</div>
