<div class="row">
  <p-card
    *ngFor="let expiredTask of expiredTasks"
    header="{{ expiredTask.title }}"
    class="col-lg-4 col-md-6 my-4"
    styleClass="bg-light"
  >
    <ng-template pTemplate="subtitle">
      <h6 [ngClass]="{ 'text-danger': expiredTask.hasPriority }">
        {{
          expiredTask.hasPriority ? "Priority: Urgent" : "Priority: Normal"
        }}
      </h6>
    </ng-template>
    <p>
      {{ expiredTask.description }}
    </p>
    <ng-template pTemplate="footer">
      <p-button
        label="Restore"
        styleClass="p-button-rounded"
        icon="pi pi-refresh"
        (click)="callOnRestore(expiredTask)"
      ></p-button>
    </ng-template>
  </p-card>
</div>